@model ClearBlueDesign.EntityFrameworkCore.Scaffolder.Samples.Web.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipViaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipViaNavigation.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
