@model IEnumerable<ClearBlueDesign.EntityFrameworkCore.Scaffolder.Samples.Web.Data.Territory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TerritoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TerritoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TerritoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TerritoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TerritoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
