@model ClearBlueDesign.EntityFrameworkCore.Scaffolder.Samples.Web.Data.Shipper

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shipper</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShipperId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
